* {
  margin: 0;
  padding: 0;
}

#body {
  background-color: #7beee7;
  text-align: center;
}

h1 {
  margin-top: 1rem;
}

#container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vmin;
  justify-content: center;
  align-items: center;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 2vmin;
  border: none;
  font-size: 8vmin;
  background-color: #e9e2a3;
  color: #2b2b2b;
  cursor: pointer;

  transition: transform 0.15s ease, background-color 0.3s;
}
.box:active {
  transform: scale(0.9);
}
.box:hover {
  background-color: #f3edb8;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


#reset,
#new-game {
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  background-color: #191913;
  color: rgb(193, 245, 201);
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#msg {
  font-size: 5vmin;
}

.msgcontainer {
  margin-top: 1rem;
  animation: fadeIn 0.6s ease-in-out;
}

.hide {
  display: none;
}
